:root {
  --navbg: #000;
}
.heading-gap {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.navbar-dark {
  background: var(--navbg);
}

#navbarNav {
  flex-direction: column;
}

.copyright-section p{
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
}